//Grayscale
$color-white: #fff;
$color-grayscale-1: #f7f7f7;
$color-grayscale-2: #e2e2e2;
$color-grayscale-3: #ccc;
$color-grayscale-4: #777;
$color-grayscale-5: #333;
$color-black: #000;

//Brand
$color-primary: #439a86;
$color-secondary: #286483;

//Semantic
$color-blue: #286483;
$color-green: #33993c;
$color-orange: #ff8c63;
$color-purple: #8f4dae;
$color-red: #c81d20;
$color-yellow: #fffb19;
